# Django
DJANGO_SECRET_KEY=change-me-before-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:4200

# Postgres
POSTGRES_DB=wroclaw_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
